@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.DisplayName" class="form-label"></label>
                <input asp-for="Input.DisplayName" class="form-control" placeholder="Your Name." />
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.Input.Image))
            {
                <img id="imagePreview" src="@Url.Content(Model.Input.Image)" alt="Current Post Image" class="img-fluid rounded shadow-sm" style="max-height: 250px; display: block; margin-bottom: 10px;" />
            }
            else{
                <div class="mb-3">
                    <img id="imagePreview" src="#" alt="Image Preview" class="img-fluid rounded shadow-sm"
                     style="max-height: 250px; display: none; margin-top: 10px;" />
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.ImageFile" class="form-label"></label>
                <input asp-for="Input.ImageFile" type="file" class="form-control" id="imageUploadInput" accept="image/png, image/jpeg, image/jpg" />
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("imageUploadInput").addEventListener("change", function (event) {
            const file = event.target.files[0];
            const preview = document.getElementById("imagePreview");

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = "block"; // Show the image preview
                };
                reader.readAsDataURL(file);
            } else {
                preview.src = "#"; // Reset the preview if no file is selected
                preview.style.display = "none"; // Hide the image preview
            }
        });
    </script>
}
