@using Microsoft.AspNetCore.Identity
@using SimpleBlog.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var CurrentUser = await UserManager.GetUserAsync(User);
    var UserDisplayName = CurrentUser?.DisplayName;
    var UserProfileImagePath = CurrentUser?.ProfileImagePath;
    if (UserDisplayName == null)
    {
        UserDisplayName = UserManager.GetUserName(User);
    }
    if (string.IsNullOrEmpty(UserProfileImagePath))
    {
        UserProfileImagePath = Url.Content("~/images/profiles/default-avatar.png");
    }
}

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <form class="d-flex" asp-controller="Posts" asp-action="Index" method="get">
            <input value='@TempData["Search"]' class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" name="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @*Surround the image with colored Circle*@
                <img src="@UserProfileImagePath" alt="User Profile Image" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; margin-right: 5px;" />

                @* Hello @UserDisplayName *@
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUserLink">
                <p class="dropdown-item btn btn-link text-dark p-1" style="text-align: center; width: 100%;">@User.Identity?.Name</p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Create">Create Post</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
                @if (User.IsInRole("Admin"))
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Dashboard">Admin Dashboard</a>
                }
                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <button type="submit" class="dropdown-item btn btn-link text-dark p-0" style="text-align: center; width: 100%;">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <p class="text-light">OR</p>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>